<footer class="footer">
  <small>
    [ {<%= link_to "AKHO",   'https://github.com/vovin-lonshin/Akho' %>}
    by {<%= link_to Designer.find(1).name, Designer.find(1) %>} ]
  </small>
  
  <nav>
     <ul>
      <li>[<%= link_to "About",   about_path %>]</li>
      <li>[<%= link_to "Contact", contact_path %>]</li>
      <li>[<%= link_to "News", news_path %>]</li>
    </ul>
  </nav>
  <br>

</footer>