<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
       
            <h1><ul class="nav nav-tabs pull-left">
            <li>
            <!--<%=  link_to( image_tag("site/logo.png", :size => "72x72", :border => 0), root_path, id: "logo") %>-->
            <%= link_to "LOGO",    root_path  %>
            </li>
            </ul></h1>
            <ul class="nav nav-tabs pull-right">
              <li><%= link_to "Home",    home_path %></li>
              <li><%= link_to "Circuits",    circuit_path %></li>
              <li><%= link_to "Help",    help_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
        </div>

    </header>