<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <nav>
       
            <h1><ul class="nav nav-tabs pull-left">
            <li>
            <!--<%=  link_to( image_tag("site/logo.png", :size => "72x72", :border => 0), root_path, id: "logo") %>-->
            <%= link_to  root_path do %>
                Circuit <sup>{mancer}</sup> 
            <% end %> 
            
            
            </li>
            </ul></h1>
            <ul class="nav nav-tabs pull-right">
           
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Site <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Home",    home_path %></li>
                <li><%= link_to "Help",    help_path %></li>
              </ul>
             </li>
             
             
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Circuits <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              <li><%= link_to "Workbench",    circuit_path %></li>
              </ul>
             </li>
              
             
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                D&aelig;mons <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
              <li><%= link_to "Name Finder",    daemon_path %></li>
              </ul>
             </li>
              
     

              
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Designer <b class="caret"></b>
              </a>
              <% if signed_in? %>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_designer %></li>
                <li><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
              <% else %>
              <ul class="dropdown-menu">
              <li><%= link_to "Sign in",  signin_path %></li>
              </ul>
              <% end %>
             </li>
             
            </ul>
        </div>

    </header>