 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <nav>
       <!--<%=  link_to( image_tag("site/logo.png", :size => "72x72", :border => 0), root_path, id: "logo") %>-->
          <%= link_to "Logo",    root_path , id: "logo" %>
          
            <ul class="nav pull-right">
              <li><%= link_to "Home",    home_path %></li>
              <li><%= link_to "Help",    help_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>